<!DOCTYPE>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	  <head>
		  
	  </head>
	  <body>
		  <div layout:fragment="content">
		  	<div>
		    	<h1>Dongi's Boards</h1>
			</div>
			<div>
				<table class="table">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">First</th>
				      <th scope="col">Last</th>
				      <th scope="col">Handle</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row">1</th>
				      <td>Mark</td>
				      <td>Otto</td>
				      <td>@mdo</td>
				    </tr>
				  </tbody>
				</table>				
			</div>
		  </div>
	  </body>
</html>