<!DOCTYPE>
<html layout:decorate="~{layouts/layout}">
  <title layout:fragment="title">Main Boards</title>
  <div layout:fragment="content">
	<div class="w-75 p-3" id="table_wrapper">
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col" style="width: 10%;">Number</th>
		      <th scope="col" style="width: 10%;">Category</th>
		      <th scope="col" style="width: 40%;">Title</th>
		      <th scope="col" style="width: 15%;">Writer</th>
		      <th scope="col" style="width: 10%;">Views</th>
		      <th scope="col" style="width: 15%;">Time</th>
		    </tr>
		  </thead>
		  <tbody th:each="brd : ${brdList}">
		    <tr>
		      <td th:text="${brd.brdNm}"></td>
		      <td th:text="${brd.brdCtgry}"></td>
		      <td><a th:text="${brd.brdTtl}" th:href="@{/brd/updtBrdCnt/{brdNm} (brdNm=${brd.brdNm})}"></a></td>
		      <td th:text="${brd.brdWrtr}"></td>
		      <td th:text="${brd.brdCnt}"></td>
		      <td th:text="${#temporals.format(brd.brdDttm, 'MM-dd HH:mm')}"></td>
		    </tr>
		  </tbody>
		</table>	
	</div>
	<div class="w-75 p-3 d-flex justify-content-end" id="write_btn_wrapper">
		<button type="button" class="btn btn-outline-primary" onclick="location.href='/brd/wrtBrd'">Write</button>&emsp;
	</div>
  </div>  
</html>