<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
	<title layout:fragment="title">View Board</title>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			//jQuery 시작
			$(function() {
				/*<![CDATA[*/
				// brdNm 가져오기
				let brdNm = /*[[${brd.brdNm}]]*/;
				
				// 댓글 등록 버튼 작동
				$("#cmmntSbmtBtn").on("click", function() {
					//let cmmntFrm = $("#cmmntFrm").serialize();
					
					const cmmntFrm = {
						brdNm : $("#brdNm").val(),
						cmmntWrtr : $("#cmmntWrtr").val(),
						cmmntCntnt : $("#cmmntCntnt").val()
					};
					
					
					$.ajax({
						type: "post",
						url: "/brd/brd/"+brdNm+"/insrtCmmnt",
						data: JSON.stringify(cmmntFrm),
						dataType: "json",
						contentType: "application/json",
						async: false,
						success: function(data) {
							alert("It has been submitted.");
							window.location.reload();
						},
						error: function(e) {
							alert("It has been failed.");
							console.log("ERROR: " + e);
						}
					});
				});// 댓글 등록 버튼 작동 끝
				
				// 댓글 삭제 버튼 작동
				$(".dltBtn").on("click", function(e) {
					const targetId = $(e.target).attr("data-cmmnt-id");
					console.log("코멘트 아이디");
					console.log(targetId);
					
					$.ajax({
						type: "delete",
						url: "/brd/brd/dltCmmnt",
						data: { cmmntId : targetId },
						success: function(data) {
							alert("It has been deleted.");
							window.location.reload();
						},
						error: function(e) {
							alert("It has been failed.");
							console.log("ERROR: " + e);
						}
					});
				});// 댓글 삭제 버튼 작동
				/*]]>*/
			}); //jQuery 끝
		</script>
	</th:block>
	<div layout:fragment="content">
		<div class="w-75 p-3" id="table_wrapper">
		    <table class="table table-hover">
				<thead>
					<th scope="col" style="width: 20%;"></th>
					<th scope="col" style="width: 80%;"></th>
				</thead>
		        <tbody>
		          <tr>
		            <th scope="row">CATEGORY</th>
		            <td th:text="${brd.brdCtgry}">3</td>           
		          </tr>
		          <tr>
		            <th scope="row">NUMBER</th>
		            <td th:text="${brd.brdNm}"></td>
		          </tr>
		          <tr>
		            <th scope="row">VIEWS</th>
		            <td th:text="${brd.brdCnt}"></td>           
		          </tr>
		          <tr>
		            <th scope="row">TIME</th>
		            <td th:text="${#temporals.format(brd.brdDttm, 'MM-dd HH:mm')}"></td>           
		          </tr>                    
		          <tr>
		            <th scope="row">TITLE</th>
		            <td th:text="${brd.brdTtl}"></td>
		          </tr>
		          <tr>
		            <th scope="row">WRITER</th>
		            <td th:text="${brd.brdWrtr}"></td>
		          </tr>
		          <tr>
		            <th scope="row">CONTENT</th>
		            <td th:text="${brd.brdCntnt}"></td>
		          </tr>
		        </tbody>
		      </table>			
		</div>
		<div class="w-75 pt-3 pb-3 d-flex justify-content-end" id="write_btn_wrapper">
			<button type="button" class="btn btn-outline-primary" id="edtBtn" 
			th:onclick="|location.href='@{/brd/brd/edt/{brdNm} (brdNm=${brdNm})}'|">Edit</button>&emsp;
			<button type="button" class="btn btn-outline-info" id="rpyBtn" 
			th:onclick="|location.href='@{/brd/brd/rply/{brdNm} (brdNm=${brdNm})}'|">Reply</button>
		</div>
		<br><br><hr>
		<div th:replace="/comment/commentLayout :: comments"></div>
	</div>
</html>