<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
	<title layout:fragment="title">View Board</title>
	<div layout:fragment="content">
		<div class="w-75 p-3" id="table_wrapper">
		    <table class="table table-hover">
				<thead>
					<th scope="col" style="width: 20%;"></th>
					<th scope="col" style="width: 80%;"></th>
				</thead>
		        <tbody>
		          <tr>
		            <th scope="row">CATEGORY</th>
		            <td th:text="${brd.brdCtgry}">3</td>           
		          </tr>
		          <tr>
		            <th scope="row">NUMBER</th>
		            <td th:text="${brd.brdNm}"></td>
		          </tr>
		          <tr>
		            <th scope="row">VIEWS</th>
		            <td th:text="${brd.brdCnt}"></td>           
		          </tr>
		          <tr>
		            <th scope="row">TIME</th>
		            <td th:text="${#temporals.format(brd.brdDttm, 'MM-dd HH:mm')}"></td>           
		          </tr>                    
		          <tr>
		            <th scope="row">TITLE</th>
		            <td th:text="${brd.brdTtl}"></td>
		          </tr>
		          <tr>
		            <th scope="row">WRITER</th>
		            <td th:text="${brd.brdWrtr}"></td>
		          </tr>
		          <tr>
		            <th scope="row">CONTENT</th>
		            <td th:text="${brd.brdCntnt}"></td>
		          </tr>
		        </tbody>
		      </table>			
		</div>
	</div>
</html>