<!-- 화면단 구성을 위한 설정 페이지입니다. -->
	  <!-- 아래의 내용이 layout.html의 헤드 부분에 적용 -->
	  <head th:fragment="config">
		  
		  <!-- 제목(웹페이지 상단에 뜨는) -->
		  <title layout:fragment="title"></title>
		  
		  <!-- 한글 사용을 위한 UTF-8 설정 -->
		  <meta charset="UTF-8"/>
		  
		  <!-- bootstrap을 사용하기 위한 viewport 설정-->
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  
		  <!-- 공통 css 링크-->
		  <link rel="stylesheet" th:href="@{/css/style.css}"/>
		  
		  <!-- 해당 페이지 내에서 개별적으로 사용할 css -->
		  <th:block layout:fragment="css"></th:block>
		  
		  <!-- 공통 js 링크-->
		  <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
		  
		  <!-- 해당 페이지 내에서 개별적으로 사용할 js -->
		  <th:block layout:fragment="script"></th:block>
		  
		  <!-- bootstrap css 링크 -->
		  <link 
		      th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css}" 
		      rel="stylesheet" 
		      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
		      crossorigin="anonymous"/>
		      
		  <!-- bootstrap js 링크-->
		  <script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js}" 
		  		  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" 
		  		  crossorigin="anonymous"></script>
          <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js}" 
                  integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" 
                  crossorigin="anonymous"></script> 

		  
		  <!-- bootstrap icon 링크 -->
		  <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css}"/>
		  
		  <!-- bootstrap 4.0.0 버전 -->
		  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" 
		  		  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
		  		  crossorigin="anonymous"></script>
	  </head>